<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/quest-delta.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/archives/quest-delta.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
<!--            <pattern>%date{"yyyy-MM-dd HH:mm:ss,SSS"} %level %logger: %msg%n</pattern>-->
            <pattern>%d [%level] [%logger] %msg%n%ex</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="FILE"/>
    </root>
</configuration>