#tableAccountsInfo   {
    border-collapse: collapse;
    border: 1px solid black;
}
#tableAccountsInfo  th {
    border: 1px solid black;
    padding: 5px;
}
#tableAccountsInfo  td {
    border: 1px solid black;
    padding: 5px;
}